@using CourseProject.GYM.Models

@model List<ScheduleModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Тренировка:</th>
                <th scope="col">Зал:</th>
                <th scope="col">Тренер:</th>
                <th scope="col">Начало:</th>
                <th scope="col">Конец:</th>
                <th scope="col">Свободные места:</th>
            </tr>
        </thead>
        <tbody>
            @HomeResultHelper.HtmlList(Model);
        </tbody>
    </table>

</body>
</html>
